<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/8c75a932ab.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="bg-dark navbar-expand-lg navbar-dark navbar">
        <div class="container">
          <a class="navbar-brand text-white" href="/"><%= 'Bookers' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <%= link_to user_path(current_user.id), class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-house"></i> Home
                <% end %>
                <%= link_to users_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-users"></i> Users
                <% end %>
                <%= link_to books_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-book-open"></i> Books
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-sign-out-alt"></i> Log out
                <% end %>
              <% else %>
                <%= link_to root_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-house"></i> Home
                <% end %>
                <%= link_to about_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-link"></i> About
                <% end %>
                <%= link_to new_user_registration_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-user-plus"></i> Sign up
                <% end %>
                <%= link_to new_user_session_path, class: 'nav-link text-white' do%>
                  <i class = "fa-solid fa-sign-in-alt"></i> Log in
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <% flash[:notice] %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row no-gutters">
          <div class="mx-auto text-dark">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
